In [2]:
# Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)


# import csv data files
education_file = "Resources/education.csv"
childmarriage_file = "Resources/childmarriage.csv"


# create dataframes for each
education_file_df = pd.read_csv(education_file, encoding="ISO-8859-1")
childmarriage_file_df = pd.read_csv(childmarriage_file, encoding="ISO-8859-1")
countries_df = pd.read_html('https://developers.google.com/public-data/docs/canonical/countries_csv')

#education_file_df.head()
#childmarriage_file_df.head()
#countries_df[0]

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [78]:
filtered_education = education_file_df.filter(["Indicator"== "Youth literacy rate, population 15-24 years, both sexes (%)",
                                              "LOCATION", "Country","TIME", "Value"])
filtered_education.head()
#filtered_education.shape

(8297, 4)

In [83]:
childmarriage_file_df.head()
clean_childmarriage=childmarriage_file_df[['Geographic Area','Indicator','Sex','Time Period','Current Age',
                           'Observation Value','Unit of Measure','The period of time for which data are provided']]
clean_childmarriage = clean_childmarriage.rename(columns={"Geographic Area":"Country"})
clean_childmarriage.head()
#clean_childmarriage.shape

,Country,Indicator,Sex,Time Period,Current Age,Observation Value,Unit of Measure,The period of time for which data are provided
0,Botswana,Percentage of women (aged 20-24 years) married...,Female,1988,20 to 24 years old,10.0,%,1988
1,Uzbekistan,Percentage of men (aged 20-24 years) married o...,Male,2002,20 to 24 years old,0.5,%,2002
2,Philippines,Percentage of men (aged 20-24 years) married o...,Male,2003,20 to 24 years old,2.9,%,2003
3,South Africa,Percentage of women (aged 20-24 years) married...,Female,2003,20 to 24 years old,0.8,%,2003
4,South Africa,Percentage of women (aged 20-24 years) married...,Female,2003,20 to 24 years old,5.6,%,2003

In [84]:
countries_df[0]
clean_countries = countries_df[0].rename(columns={"name":"Country","country":"Abbr"})
clean_countries.head(10)
#clean_countries.shape

  Abbr   latitude  longitude               Country
0   AD  42.546245   1.601554               Andorra
1   AE  23.424076  53.847818  United Arab Emirates
2   AF  33.939110  67.709953           Afghanistan
3   AG  17.060816 -61.796428   Antigua and Barbuda
4   AI  18.220554 -63.068615              Anguilla
5   AL  41.153332  20.168331               Albania
6   AM  40.069099  45.038189               Armenia
7   AN  12.226079 -69.060087  Netherlands Antilles
8   AO -11.202692  17.873887                Angola
9   AQ -75.250973  -0.071389            Antarctica

In [7]:
# make country lowercase
clean_childmarriage["Country"] = clean_childmarriage["Country"].map(lambda x: x.lower())
clean_countries["Country"] = clean_countries["Country"].map(lambda x: x.lower())
filtered_education["Country"] = filtered_education["Country"].map(lambda z: z.lower())

In [13]:
childmarriage_final = pd.merge(clean_childmarriage, clean_countries, how="left", on="Country")
childmarriage_final = childmarriage_final.drop(columns=["The period of time for which data are provided","Abbr"])

childmarriage_final.head()
#childmarriage_final.shape

,Country,Indicator,Sex,Time Period,Current Age,Observation Value,Unit of Measure,latitude,longitude
0,botswana,Percentage of women (aged 20-24 years) married...,Female,1988,20 to 24 years old,10.0,%,-22.328474,24.684866
1,uzbekistan,Percentage of men (aged 20-24 years) married o...,Male,2002,20 to 24 years old,0.5,%,41.377491,64.585262
2,philippines,Percentage of men (aged 20-24 years) married o...,Male,2003,20 to 24 years old,2.9,%,12.879721,121.774017
3,south africa,Percentage of women (aged 20-24 years) married...,Female,2003,20 to 24 years old,0.8,%,-30.559482,22.937506
4,south africa,Percentage of women (aged 20-24 years) married...,Female,2003,20 to 24 years old,5.6,%,-30.559482,22.937506

In [14]:
education_final = pd.merge(filtered_education, clean_countries, how="left", on="Country")
education_final = education_final.drop(columns=["LOCATION","Abbr"])
education_final.head()
#education_final.shape

   Country  TIME    Value   latitude  longitude
0  morocco  1982  0.53256  31.791702   -7.09262
1  morocco  1994  0.64434  31.791702   -7.09262
2  morocco  2004  0.74865  31.791702   -7.09262
3  morocco  2008  0.81461  31.791702   -7.09262
4  morocco  2009  0.83185  31.791702   -7.09262

In [10]:
# Question 1: Is rate of child marriage decreasing with each year? (line graph and histogram)

In [ ]:
# Question 2: What is the correlation of literacy rate and child marriage? (scatter plot with regression line and boxplot)

In [ ]:
# Question 3: What is the geographical impact on child marriage and education? (heat map one for education 
#                                                                               and one for child marriage)

In [ ]:
# Question 4: Is one gender more susceptible to child marriage than the other? (pie graph)

In [ ]:
# Conclusion: our null hypothesis is that education has no impact on child marriage rates.

In [88]:
c_final=childmarriage_final.dropna()
group_cm_df = c_final.groupby(["Country"])
childmarriage_df=group_cm_df.mean()
childmarriage_df['Time Period'].map("${:.1f}".format)
childmarriage_df
#childmarriage_final.dtypes

#childmarriage_final['Observation Value'].max()

             Time Period  Observation Value   latitude   longitude
Country
afghanistan  2015.000000          16.966667  33.939110   67.709953
albania      2018.000000           4.800000  41.153332   20.168331
algeria      2013.000000           1.450000  28.033886    1.659626
angola       2016.000000          14.733333 -11.202692   17.873887
armenia      2016.000000           1.900000  40.069099   45.038189
...                  ...                ...        ...         ...
uzbekistan   2004.666667           2.666667  41.377491   64.585262
vanuatu      2013.000000           9.500000 -15.376706  166.959158
yemen        2013.000000          20.650000  15.552727   48.516388
zambia       2014.000000          13.166667 -13.133897   27.849332
zimbabwe     2015.000000          12.433333 -19.015438   29.154857

[110 rows x 4 columns]

In [72]:
education_final.dtypes
e_final=education_final.dropna()
group_e_df = e_final.groupby(["Country"])
education_df=group_e_df.mean()
education_df

#education_final['Value'].max()

                       TIME      Value   latitude   longitude
Country
afghanistan     2002.666667  35.439102  33.939110   67.709953
albania         2010.000000  74.590923  41.153332   20.168331
algeria         2004.200000  67.323016  28.033886    1.659626
american samoa  1980.000000  73.495482 -14.270972 -170.132217
angola          2007.500000  56.702264 -11.202692   17.873887
...                     ...        ...        ...         ...
uzbekistan      2012.666667  75.234261  41.377491   64.585262
vanuatu         1998.833333  65.044334 -15.376706  166.959158
yemen           1999.000000  51.241751  15.552727   48.516388
zambia          2004.333333  56.735149 -13.133897   27.849332
zimbabwe        1999.750000  68.862129 -19.015438   29.154857

[149 rows x 4 columns]

In [18]:
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [94]:
locations = childmarriage_df[["latitude", "longitude"]].astype(float)

value = childmarriage_df["Observation Value"].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=value, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
locations = education_df[["latitude", "longitude"]].astype(float)

value = education_df["Value"].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=value, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=4,opacity=0)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
list1 = list(clean_childmarriage["Country"].unique())
list2 = list(clean_countries["Country"].unique())

print(len(list1), len(list2))

In [ ]:
clean_childmarriage["Country"] = clean_childmarriage["Country"].map(lambda x: x.lower())
clean_childmarriage.head()

In [ ]:
clean_countries["Country"] = clean_countries["Country"].map(lambda x: x.lower())
clean_countries.head()

In [ ]:
df_merge = pd.merge(clean_childmarriage, clean_countries, how="left", on="Country")
df_merge.head()

In [ ]:
df_merge["Country"].unique()

In [ ]:
df_merge.loc[df_merge.isnull().any(axis=1)]

In [ ]:
df_merge.dtypes

In [ ]:
df_merge = df_merge.rename(columns={
    "Time Period":"TIME"
})
df_merge = df_merge.drop(columns=['The period of time for which data are provided'])
df_merge.head(1)

In [ ]:
filtered_education.head(1)

In [ ]:
filtered_education = filtered_education.drop(columns="LOCATION")
filtered_education.head(1)

In [ ]:
filtered_education["Country"] = filtered_education["Country"].map(lambda z: z.lower())
filtered_education.head(1)

In [ ]:
df_merge.shape

In [ ]:
filtered_education.shape

In [ ]:
df_merge[["Country", "TIME"]].nunique()

In [ ]:
filtered_education[["Country", "TIME"]].nunique()

In [ ]:
quick_merge_df = pd.merge(df_merge, filtered_education, on=["Country", "TIME"])
quick_merge_df

In [ ]:
quick_merge_df

In [ ]:
quick_merge_df = pd.merge(df_merge, filtered_education, on=["Country", "TIME"], how="outer")
quick_merge_df.shape

In [ ]:
quick_merge_df.loc[quick_merge_df.isnull().any(axis=1)]

In [ ]:
filtered_education.dtypes

In [ ]:
df_merge.shape

In [ ]:
df_merge = df_merge.dropna(axis=0)
df_merge.shape

In [ ]:
df_merge.shape

In [ ]:
df_merge = df_merge.dropna(axis=0)
df_merge.shape

In [ ]:
clean_countries["Country"].unique()

In [ ]:
# Merge the child marriage dataframe with the education dataframe
new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])


merge_df=pd.merge(pd.merge(clean_childmarriage,clean_countries,on='Country',),filtered_education,on='Country')
merge_df.dropna()
merge_df = merge_df.drop(columns=['The period of time for which data are provided'])
merge_df
#clean_df=merge_df.drop_duplicates('SN')

In [ ]:
print(merge_df["views"].max())
print(merge_df["views"].min())

In [ ]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 199999, 399999, 599999, 799999, 999999,
        1999999, 2999999, 3999999, 4999999, 50000000]

# Create labels for these bins
group_labels = ["0 to 199k", "200k to 399k", "400k to 599k", "600k to 799k", "800k to 999k", "1mil to 2mil",
                "2mil to 3mil", "3mil to 4mil", "4mil to 5mil", "5mil to 50mil"]

pd.cut(ted_df["views"], bins, labels=group_labels).head()

# Place the data series into a new column inside of the DataFrame
ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)
ted_df.head()